---
layout: base.njk
---

<section>
  <aside>
    <iframe src="https://slides.bscc.dev" title="FairShare slides">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </aside>
</section>

{{ content | safe }}
